$body-font: $rubic;


img{
    max-width: 100%;
}
body{
    font-family: $body-font;
    line-height: 2.5rem;
    font-weight: 300;
}

h1, .h1{
    line-height: 5.925rem;
}
h2, .h2{
    line-height: 4.259rem;
}
h4, .h4{
    line-height: 2.6rem;
}