

.team-section{
    padding: 8.1rem 0 6.8rem;
    background-color: #F6F5F6;
    .team-section-title{
        margin-bottom: 6.2rem;
    }
    .team-member{
        .team-member-title{
            margin-bottom: 2.1rem;
            color: #000;
            &:hover{
                color: $primary;
            }
        }
        .team-member-text{
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .team-linkedin{
            font-size: 3rem;
            color: #444;
            &:hover{
                color: $primary;
            }
            margin-bottom: 1rem;
            @media(min-width:576px){
                margin-bottom: 0;
            }
        }
        .team-member-image{
            overflow: hidden;

            &:hover{
                img{
                    transform: scale(1.1);
                }
            }
            img{
                display: block;
                width: 100%;
                transition: 0.3s linear;
            }
        }


    }
}